*.tiff filter=lfs diff=lfs merge=lfs -text
*.h5ad filter=lfs diff=lfs merge=lfs -text
demo_data/arango_demo/spex_db/* -text
demo_data/arango_demo/spex_db/**/* -text
demo_data/arango_demo/spex_db/* -text
demo_data/arango_demo/spex_db/**/* -text
demo_data/**/static/** -filter=lfs -diff=lfs -merge=lfs -text
demo_data/jobs/163333461/163333456/static/cells.h5ad.zarr/X/0.0
*.zarr filter=lfs diff=lfs merge=lfs -text
